<div *ngIf="errMsg$ | async as errMsg" class="p-1 m-1">
  <div class="alert alert-warning alert-dismissible fade show container" role="alert">
    <h3>{{ errMsg }}</h3>
    <button type="button" class="btn-close" (click)="onClearStatusMsgs()"
    data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <hr class="thick-br"/>
</div>

<div *ngIf="successMsg$ | async as successMsg" class="p-1 m-1">
  <hr class="thick-br"/>
  <div class="alert alert-secondary alert-dismissible fade show container" role="alert">
    <h6>{{ successMsg }}</h6>
    <button type="button" class="btn-close" (click)="onClearStatusMsgs()"
    data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <hr class="thick-br"/>
</div>

<div>
    <div class=" m-1 p-1">
      <hr class="thick-br"/>
      <h2>Create New Freelance Student Or Class</h2>
      <hr class="thick-br"/>
      <div class="text-center">
        <button class="btn btn-sm btn-dark" type="button"
          (click)="toggleClassSubmitForm()">
          {{ showClassSubmitForm ? "Never Mind, I'll submit one next time"
          : "Click Here to create new a class in a school " }}
        </button>
        <br />
      </div>
      <hr class="thick-br"/>
    </div>
    
    <div [hidden]="!showClassSubmitForm"
      [style.opacity]="!showClassSubmitForm ? '0' : '1'"
      [style.visibility]="!showClassSubmitForm ? 'hidden' : 'visible'"
      class="m-1 p-1"
    >
      <app-create-class-form>
      </app-create-class-form>
      <hr class="thick-br"/>

    </div>
    
    <div class="text-center">
        <button class="btn btn-sm btn-dark" type="button"
          (click)="toggleFreelanceStudentSubmitForm()">
          {{ showFreelanceStudentSubmitForm ? "Never Mind, I'll submit one next time"
          : "Click Here to create new a freelance student " }}
        </button>
    </div>
    <hr class="thick-br"/>
    <div [hidden]="!showFreelanceStudentSubmitForm"
      [style.opacity]="!showFreelanceStudentSubmitForm ? '0' : '1'"
      [style.visibility]="!showFreelanceStudentSubmitForm ? 'hidden' : 'visible'"
      class="m-1 p-1"
    >
      <app-create-freelance-student-form>
      </app-create-freelance-student-form>
      <hr class="thick-br"/>
    </div>
  </div>
  