<tr class="row" *ngIf="recurringClass$ | async as recurring_class">
   
    <th class="col">
      <h5>
        {{ recurring_class.day_of_week_string }}
      </h5>
    </th>
    <th class="col">
      <h5>
        {{ recurring_class.recurring_start_time.slice(0, -3) }}
      </h5>
    </th>
    <th class="col">
      <h5>
        {{ recurring_class.recurring_finish_time.slice(0, -3) }}
      </h5>
    </th>
    <th class="col">
        <h5>
            <a [routerLink]="['/authenticated-user/student-or-class', recurring_class.student_or_class]">
                <app-student-or-class-templ-string 
                [studentOrClassId]=recurring_class.student_or_class class="bg-transparent"
                >
                </app-student-or-class-templ-string>
            </a>
        </h5>
    </th>
    <th class="col">
      <div *ngIf="!deletionPopupVisible;else del_monthly" class="col text-center">
        <button
          class="btn btn-sm btn-block btn-outline-secondary"
          (click)="showDeletionPopup()"
          >
          Remove
        </button>
      </div>
      <ng-template #del_monthly class="row">
        <div class="col text-center">
          <button
            class="btn btn-sm btn-outline-secondary"
            (click)="hideDeletionPopup()">
            Don't Delete
          </button>
        </div>
        <div class="col text-center">
          <button
            class="btn btn-sm btn-outline-danger"
            (click)="onRemoveRecurringClassAppliedMonthly()">
            Confirm Delete
          </button>
        </div>
      </ng-template>
    </th>
  </tr>