<tr class="row" *ngIf="recurringClass$ | async as recurring_class">
       <th class="col">
        <p>
          {{ recurring_class.day_of_week_string.slice(0, 3) }} 
          {{ 
            recurring_class.recurring_start_time.slice(0, -3) 
          }}-{{ 
            recurring_class.recurring_finish_time.slice(0, -3) 
          }}
        </p>
    </th>
    <th class="col">
        <p>
          <a [routerLink]="['/authenticated-user/student-or-class', recurring_class.student_or_class]">
              <app-student-or-class-templ-string 
              [studentOrClassId]=recurring_class.student_or_class class="bg-transparent"
              >
              </app-student-or-class-templ-string>
          </a>
        </p>
    </th>
    <ng-container
      *ngIf="{ value: deletionModeForRecurringClassesAppliedMonthlyActivated$ | async } as context"
    >
    <th *ngIf="context.value" class="col hidden-small">
      <div *ngIf="!deletionPopupVisible;else del_monthly" class="col text-center">
        <button
          class="btn btn-sm btn-block btn-outline-danger"
          (click)="showDeletionPopup()"
          >
          Remove
        </button>
      </div>
      <ng-template #del_monthly class="row">
        <div class="col text-center">
          <button
            class="btn btn-sm btn-outline-secondary"
            (click)="hideDeletionPopup()">
            Don't Delete
          </button>
        </div>
        <div class="col text-center">
          <button
            class="btn btn-sm btn-outline-danger"
            (click)="onRemoveRecurringClassAppliedMonthly()">
            Confirm Delete
          </button>
        </div>
      </ng-template>
    </th>
    </ng-container>
  </tr>