<div>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <h3>Freelance Class Updated</h3>
        <button type="button" class="btn-close" 
            (click)="onClearUpdatedClassStatusResponseData()"
            data-bs-dismiss="alert" aria-label="Close">
        </button>
      </div>
      <app-revised-purchased-hours
        [studentOrClassHoursUpdate]=studentOrClassModificationResponse>
      </app-revised-purchased-hours>
</div>
This is the modification response:
{{ studentOrClassModificationResponse.id }}
{{ studentOrClassModificationResponse.changes.purchased_class_hours }}

