<div *ngIf="fetchingRecordInProgress">
  <div class="text-center">
    <br />
    <div class="spinner-border text-secondary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <br />
  </div>
</div>

<div *ngIf="errorMessage" class="container">
  <br />
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h5 class="text-center">{{ errorMessage }}</h5>
    <button type="button" class="btn-close" (click)="onClearErrorMessage()"
      data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>

<div *ngIf="successMessage" class="container">
  <br />
  <div class="alert alert-secondary alert-dismissible fade show" role="alert">
    <h5 class="text-center">{{ successMessage }}</h5>
    <button type="button" class="btn-close" (click)="onClearSuccessMessage()"
      data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>

<div *ngIf="groupClassMeetingRecord" class="container">
    <br />
    <div class="class-info-display p-3">
    <h2 class="text-center">Student Attendance</h2>
    <hr class="thin-white" />
    <h4 class="bg-transparent text-center">
      {{ groupClassMeetingRecord.group_class_name }}: {{ groupClassMeetingRecord.class_date }} ({{ groupClassMeetingRecord.class_duration }} hrs)
    </h4> 
    <hr class="thin-white"/>
    <div class="card bg-transparent mb-1" [hidden]="formVisible">
      <div class="card-body bg-transparent">
        <div *ngFor="let group of attendanceByStatus">
          <h4 class="text-center"><span style="color: #758d97">
            {{ group.label }}:</span> {{ group.names }}
          </h4>
        </div>
      </div>
    </div>

    <hr class="thin-white"/>
    <div class="d-grid gap-2">
      <button class="btn btn-sm btn-outline-secondary"
        type="button" (click)="toggleForm()">
        {{ formVisible ? "Cancel" : "Edit Attendance" }}
      </button>
    </div>
    <hr class="thin-white"/>
    <div *ngIf="formVisible">
      <app-group-class-attendance-edit-form
        [meetingRecord]="groupClassMeetingRecord"
        (closeEvent)="closeFormHandler($event)"
        (submitSuccessEvent)="onSubmitSuccess($event)"
        (submitErrorEvent)="onSubmitError($event)">
      </app-group-class-attendance-edit-form>
    </div>
    <br />
  </div>
  <br class="thin-white"/>
</div>

