<div *ngIf="fetchingRecordInProgress">
  <div class="text-center">
    <br />
    <div class="spinner-border text-secondary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <br />
  </div>
</div>

<div *ngIf="errorMessage" class="container">
  <br />
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h5 class="text-center">{{ errorMessage }}</h5>
    <button type="button" class="btn-close" (click)="onClearErrorMessage()"
      data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>

<div *ngIf="successMessage" class="container">
  <br />
  <div class="alert alert-secondary alert-dismissible fade show" role="alert">
    <h5 class="text-center">{{ successMessage }}</h5>
    <button type="button" class="btn-close" (click)="onClearSuccessMessage()"
      data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>

<div *ngIf="groupClassMeetingRecord" class="container">
  <hr class="thin-br" />
  <h1 class="text-center">{{ groupClassMeetingRecord.group_class_name }}</h1>
  <hr class="thin-br" />

  <div class="card mb-3 bg-transparent table-responsive">
    <div class="card-body bg-transparent">
      <table class="table bg-transparent" style="width:100%">
        <tr class="bg-transparent text-center">
          <th class="bg-transparent"><h4 class="bg-transparent">Teacher</h4></th>
          <td class="bg-transparent"><h4 class="bg-transparent">{{ groupClassMeetingRecord.teacher_name }}</h4></td>
        </tr>
        <tr class="bg-transparent text-center">
          <th class="bg-transparent"><h4 class="bg-transparent">Date</h4></th>
          <td class="bg-transparent"><h4 class="bg-transparent">{{ groupClassMeetingRecord.class_date }}</h4></td>
        </tr>
        <tr class="bg-transparent text-center">
          <th class="bg-transparent"><h4 class="bg-transparent">Duration</h4></th>
          <td class="bg-transparent">
            <h4 class="bg-transparent">
              {{ groupClassMeetingRecord.class_duration }} hrs
            </h4>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <hr />
  <h4 class="text-center">Student Attendance</h4>
  <hr />
  <div class="card bg-transparent mb-3 table-responsive">
    <div class="card-body bg-transparent">
      <table class="table bg-transparent" style="width:100%">
        <thead>
          <tr class="bg-transparent text-center">
            <th class="bg-transparent"><h5 class="bg-transparent">Student</h5></th>
            <th class="bg-transparent"><h5 class="bg-transparent">Status</h5></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let record of groupClassMeetingRecord.student_attendance_records" class="bg-transparent text-center">
            <td class="bg-transparent"><h5>{{ record.student_name }}</h5></td>
            <td class="text-capitalize bg-transparent">
              <h5>
              {{ record.attendance_status === 'scheduled' ? 'Pending' : record.attendance_status.split('_').join(' ') }}
              </h5>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <hr />
  <div class="d-grid gap-2">
    <button class="btn btn-sm btn-outline-secondary"
      type="button" (click)="toggleForm()">
      {{ formVisible ? "Cancel" : "Edit Attendance" }}
    </button>
  </div>
  <hr />
  <div *ngIf="formVisible">
    <app-group-class-attendance-edit-form
      [meetingRecord]="groupClassMeetingRecord"
      (closeEvent)="closeFormHandler($event)"
      (submitSuccessEvent)="onSubmitSuccess($event)"
      (submitErrorEvent)="onSubmitError($event)">
    </app-group-class-attendance-edit-form>
  </div>
  <br />
</div>

