/* You can add global styles to this file, and also import other style files */
body {
  color: #758d97;
  background-color: black;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.color-frame {
    background-color: black;
    border: #0098da solid 1px !important;
    outline: #010b3e solid 5px !important;
  }
  
.content {
    padding-top: 70px;
    color: #758d97;
    background-color: black;
}

.footer-styles {
  flex-shrink: 0;   
  justify-content: center;
  background-color: black;
}

.main {
  flex: 1 0 auto;
  background-color: black;
}

.table {
  color: #758d97;
  background-color: black;
  border-collapse: collapse;
  padding: 1em;
  text-align: center;
}

table tr {
  padding: 1em;
}

.table > thead {
  color: #758d97;
  background-color: black;
  vertical-align: bottom;
  border-top: 1px #758d97;
}

.table td {
  color: #758d97;
  background-color: black;
  border-left: 1px solid #758d97;
  border-right: 1px solid #758d97;
  padding: 1em;
}