<div>
  <form (submit)="onSubmitEditedLocation(editClassLocationForm)" #editClassLocationForm="ngForm">
      <div>
        <label>Locations</label>
          <select
          class="form-control"
          name="location"
          ngModel
          #location="ngModel"
          >
          <option *ngFor="let venueSpace of venueSpaces"
              [value]=venueSpace.id
          >{{ venueSpace.space_name }},
           {{ venueSpace.venue.venue_name }}: {{ venueSpace.number_of_seats }} seats
          </option>
          </select>
        </div>
        <br />
      <div>
      <button class="btn btn-outline-secondary" type="submit">
        Submit
      </button>
    </div>
  </form>
  <br />
</div>
