<div class="mt-5">
    <footer
        class="text-center text-lg-start footer-styles"
    >
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <h6 class="text-uppercase mb-4 font-weight-bold text-center">
                Tutor's Assistant
              </h6>
              <p class="text-center">A Scheduling & Management System for Tutors</p>
            </div>
            <!-- Grid column -->
  
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
              <p class="text-center">
                <a routerLink="/authenticated-user/user-profile" href="#">User Profile</a>
              </p>
              <p class="text-center">
                <a routerLink="/authenticated-user/users-students-or-classes" href="#">Students/Classes</a>
              </p>
              <p class="text-center">
                <a routerLink="/authenticated-user/users-schools" href="#">Schools/Clients</a>
              </p>
              <p class="text-center">
                <a routerLink="/authenticated-user/scheduling/calendar" href="#">Calendar</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
              <p class="text-center">
                <a routerLink="/authenticated-user/scheduling/schedule-single-class" href="#">Schedule a Class</a>
              </p>
              <p class="text-center">
                <a routerLink="/authenticated-user/scheduling/recurring-schedule/select-month-year" href="#">Schedule a Batch</a>
              </p>
              <p class="text-center">
                <a routerLink="/authenticated-user/scheduling/recurring-schedule/list" href="#">Recurring Classes</a>
              </p>
              <p class="text-center">
                <a href="#" (click)="onLogout()">Logout</a>
              </p>
            </div>
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
  
        <hr class="my-3">
      </div>
      <!-- Grid container -->
    </footer>
  </div>