<tr class="row" > 
    <th class="col">
        <p>
          {{ recurringClass.day_of_week_string.slice(0, 3) }} 
          {{ 
            recurringClass.recurring_start_time.slice(0, -3) 
          }}-{{ 
            recurringClass.recurring_finish_time.slice(0, -3) 
          }}
        </p>
    </th>
    <th class="col">
        <p>
          <a [routerLink]="['/authenticated-user/student-or-class', recurringClass.student_or_class]">
            <app-student-or-class-templ-string 
              [studentOrClassId]=recurringClass.student_or_class class="bg-transparent"
            >
              </app-student-or-class-templ-string>
          </a>
        </p>
    </th>
    <ng-container
      *ngIf="{ value: deletionModeForRecurringClassesActivated$ | async } as context"
    >
    <th *ngIf="context.value" class="col hidden-small">
      <div *ngIf="!deletionPopupVisible; else delWeeklyTask" class="col text-left">
        <p>
          <button
            class="btn btn-sm btn-outline-danger"
            (click)="showDeletionPopup()"
            >
            Remove
          </button>
        </p>
      </div>
      <ng-template #delWeeklyTask class="row">
        <div class="col">
          <p>
            <button
              class="btn btn-sm btn-outline-secondary"
              (click)="hideDeletionPopup()">
              Cancel Deletion
            </button>
          </p>
        </div>
        <div class="col">
          <p>
            <button
              class="btn btn-sm btn-outline-danger"
              (click)="onRemoveRecurringClass()"
              >
              Confirm Removal
            </button>
          </p>
        </div>
      </ng-template>
    </th>
    </ng-container>
</tr>