
  
  table {
      border:1px solid #758d97;
      border-collapse: collapse;
  }
  
  table tr {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1pt solid grey;
    padding: 1em;
  }
  
  table th {
    padding: 1em;
  }
  
  table td {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding: 1em;
  }
  
