
<h5>
        <button class="btn btn-outline-secondary" type="button"
          data-bs-toggle="collapse" data-bs-target="#collapseUnconfirmed"
          aria-expanded="false" aria-controls="collapseUnconfirmed">
          View Unconfirmed Classes
        </button>
</h5>
    <div
        id="collapseUnconfirmed"
        class="collapse table-responsive"
    >
    <table class="table bg-transparent">
        <thead class="table bg-transparent">
          <tr class="row bg-transparent">
            <th class="col bg-transparent"><p>Date</p></th>
            <th class="col bg-transparent hidden-small"><p>Time</p></th>
            <th class="col bg-transparent"><p>Student/Class</p></th>
          </tr>
        </thead>
        <tbody class="table bg-transparent">
          <tr class="row bg-transparent" 
            *ngFor="let unconfirmedClass of unconfirmedClasses trackBy: trackByFn">
            <th class="col bg-transparent">
                <p>
                  <a [routerLink]="['/authenticated-user/scheduling/schedule-daily', unconfirmedClass.date]">
                    {{ unconfirmedClass.date }}
                  </a>
                </p>
            </th>
            <th class="col bg-transparent hidden-small">
                <p>
                    <a [routerLink]="['/authenticated-user/scheduling/single-class', unconfirmedClass.id]">
                      {{ unconfirmedClass.start_time.slice(0, -3) }} - {{ unconfirmedClass.finish_time.slice(0, -3) }}
                    </a>
                </p>
            </th>
            <th class="col bg-transparent">
              <p>
                <a [routerLink]="['/authenticated-user/student-or-class', unconfirmedClass.student_or_class]">
                  <app-student-or-class-template-string 
                  [studentOrClassId]=unconfirmedClass.student_or_class class="bg-transparent"
                  >
                  </app-student-or-class-template-string>
                </a>
              </p>
            </th>
        </tr>
        </tbody>
    </table>
</div>