<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand mydropnav" 
        routerLink="/authenticated-user/scheduling/landing" 
        routerLinkActive
      >
        Tutor's Assistant
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mydropnav"
              href="#" id="navbarDropdown" role="button" 
              data-bs-toggle="dropdown" aria-expanded="false"
            >
              Students
            </a>
            <ul class="dropdown-menu mydropnav bg-dark" 
              aria-labelledby="navbarDropdown">
              <li><a class="nav-link" 
                [routerLink]="['create-school']">Create School</a>
              </li>
              <li><a class="nav-link" 
                [routerLink]="['users-schools']">View Schools</a>
              </li>
              <li><a class="nav-link" 
                [routerLink]="['create-student-or-class']">Create Class</a>
              </li>
              <li><a class="nav-link" 
                [routerLink]="['users-students-or-classes']">View Classes</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mydropnav"
              href="#" id="navbarDropdown" role="button" 
              data-bs-toggle="dropdown" aria-expanded="false"
            >
              Accounting
            </a>
            <ul class="dropdown-menu mydropnav bg-dark" 
              aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item bg-dark link-style" 
                  routerLink="/authenticated-user/scheduling/accounting/select-month-year-and-school" routerLinkActive 
                  >
                  Monthly Report
                </a>
              </li>
            </ul>
          </li> 
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mydropnav"
              href="#" id="navbarDropdown" role="button" 
              data-bs-toggle="dropdown" aria-expanded="false"
            >
              Scheduling
            </a>
            <ul class="dropdown-menu mydropnav bg-dark" 
              aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item bg-dark link-style" 
                routerLink="/authenticated-user/scheduling/schedule-single-class" routerLinkActive 
                >Schedule Single</a>
              </li>
              <li><a class="dropdown-item bg-dark link-style" 
                routerLink="/authenticated-user/scheduling/recurring-schedule/create" routerLinkActive 
                >Schedule Recurring</a>
              </li>
              <li><a class="dropdown-item bg-dark link-style" 
                routerLink="/authenticated-user/scheduling/recurring-schedule/list" routerLinkActive 
                >Recurring Schedule</a>
              </li>
              <li><a class="dropdown-item bg-dark link-style" 
                routerLink="/authenticated-user/scheduling/recurring-schedule/select-month-year" routerLinkActive 
                >Recurring Applied Monthly</a>
              </li>
            </ul>
          </li> 
          <li><a class="nav-link" 
            [routerLink]="['user-profile']">Profile</a>
          </li>
          <li><a class="nav-link" 
            routerLink="/authenticated-user/scheduling/calendar" routerLinkActive >Calendar</a>
          </li>         
          <li>
            <a class="nav-link" href="#" (click)="onLogout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
