<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand mydropnav hidden-small-and-medium" 
        routerLink="/authenticated-user/scheduling/landing" 
        routerLinkActive
      >
        Tutor's Assistant
      </a>
      <button class="navbar-toggler" type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        data-bs-auto-close="outside"
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li>
            <a class="nav-link small-and-med-scr" 
              routerLink="/authenticated-user/scheduling/landing" 
              routerLinkActive
            >Home
            </a>
          </li>

          <li class="nav-item dropdown small-and-med-scr">
            <a class="nav-link dropdown-toggle mydropnav"
              href="#" id="navbarDropdown" role="button" 
              data-bs-toggle="dropdown" aria-expanded="false"
            >
              Schools/Companies
            </a>
            <ul class="dropdown-menu mydropnav bg-dark" 
              aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item bg-dark link-style"
                  [routerLink]="['create-school']">Create New
                </a>
              </li>
              <li>
                <a class="dropdown-item bg-dark link-style"
                  [routerLink]="['users-schools']">View List
                </a>
              </li>
            </ul>
          </li> 

          <li class="nav-item dropdown small-and-med-scr">
            <a class="nav-link dropdown-toggle mydropnav"
              href="#" id="navbarDropdown" role="button" 
              data-bs-toggle="dropdown" aria-expanded="false"
            >
              Students/Classes
            </a>
            <ul class="dropdown-menu mydropnav bg-dark" 
              aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item bg-dark link-style"
                  [routerLink]="['create-student-or-class']">Create New
                </a>
              </li>
              <li>
                <a class="dropdown-item bg-dark link-style"
                  [routerLink]="['users-students-or-classes']">View List
                </a>
              </li>
            </ul>
          </li> 

          <li class="nav-item dropdown hidden-small-and-medium">
            <a class="nav-link dropdown-toggle mydropnav"
               href="#" id="clientsDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              Clients
            </a>
            <ul class="dropdown-menu bg-dark" aria-labelledby="clientsDropdown">
              <!-- Nested dropdown: Schools/Companies -->
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle bg-dark text-white" href="#">
                  Schools/Companies
                </a>
                <ul class="dropdown-menu bg-dark">
                  <li>
                    <a class="dropdown-item bg-dark text-white"
                       [routerLink]="['create-school']">Create School</a>
                  </li>
                  <li>
                    <a class="dropdown-item bg-dark text-white"
                       [routerLink]="['users-schools']">View Schools</a>
                  </li>
                </ul>
              </li>
          
              <!-- Nested dropdown: Students/Classes -->
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle bg-dark text-white" href="#">
                  Students/Classes
                </a>
                <ul class="dropdown-menu bg-dark">
                  <li>
                    <a class="dropdown-item bg-dark text-white"
                       [routerLink]="['create-student-or-class']">Create Class</a>
                  </li>
                  <li>
                    <a class="dropdown-item bg-dark text-white"
                       [routerLink]="['users-students-or-classes']">View Classes</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown small-and-med-scr">
            <a class="nav-link dropdown-toggle mydropnav"
              href="#" id="navbarDropdown" role="button" 
              data-bs-toggle="dropdown" aria-expanded="false"
            >
              Accounting/Finance
            </a>
            <ul class="dropdown-menu mydropnav bg-dark" 
              aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item bg-dark link-style" 
                  routerLink="/authenticated-user/scheduling/accounting/select-month-year-and-school" routerLinkActive 
                >
                  Monthly Earnings
                </a>
              </li>
              <li>
                <a class="dropdown-item bg-dark link-style" 
                  routerLink="/authenticated-user/scheduling/accounting/select-date-range-and-school" routerLinkActive 
                >
                  Earnings in Date Range
                </a>
              </li>
              <li>
                <a class="dropdown-item bg-dark link-style" 
                  routerLink="/authenticated-user/scheduling/accounting/select-month-year-and-freelance-account" routerLinkActive 
                >
                  Freelance Account Activity
                </a>
              </li>
              <li>
                <a class="dropdown-item bg-dark link-style" 
                  routerLink="/authenticated-user/scheduling/accounting/select-month-and-year-for-freelance-payments-refunds-records" routerLinkActive 
                >
                  Freelance Transactions Records
                </a>
              </li>
              <li>
                <a class="dropdown-item bg-dark link-style" 
                  routerLink="/authenticated-user/scheduling/accounting/make-purchase" routerLinkActive 
                >
                  Freelance Hours Purchase
                </a>
              </li>
              <li>
                <a class="dropdown-item bg-dark link-style" 
                  routerLink="/authenticated-user/scheduling/accounting/make-refund" routerLinkActive 
                >
                  Freelance Hours Refund
                </a>
              </li>
            </ul>
          </li> 

          <li class="nav-item dropdown hidden-small-and-medium">
            <a class="nav-link dropdown-toggle mydropnav"
               href="#" id="clientsDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
               Accounting
            </a>
            <ul class="dropdown-menu bg-dark" aria-labelledby="clientsDropdown">
              <!-- Nested dropdown: Schools/Companies -->
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle bg-dark text-white" href="#">
                  Estimated Earnings
                </a>
                <ul class="dropdown-menu bg-dark">
                  <li>
                    <a class="dropdown-item bg-dark link-style" 
                      routerLink="/authenticated-user/scheduling/accounting/select-month-year-and-school" routerLinkActive 
                      >
                      Monthly Report
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item bg-dark link-style" 
                      routerLink="/authenticated-user/scheduling/accounting/select-date-range-and-school" routerLinkActive 
                      >
                      Report in Date Range
                    </a>
                  </li>
                  <li>
                </ul>
              </li>
          
              <!-- Nested dropdown: Students/Classes -->
              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle bg-dark text-white" href="#">
                  Freelance
                </a>
                <ul class="dropdown-menu bg-dark">
                  <li>
                    <a class="dropdown-item bg-dark link-style" 
                      routerLink="/authenticated-user/scheduling/accounting/select-month-year-and-freelance-account" routerLinkActive 
                      >
                      Account Activity
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item bg-dark link-style" 
                      routerLink="/authenticated-user/scheduling/accounting/select-month-and-year-for-freelance-payments-refunds-records" routerLinkActive 
                      >
                      Transactions Records
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item bg-dark link-style" 
                      routerLink="/authenticated-user/scheduling/accounting/make-purchase" routerLinkActive 
                      >
                      Purchase Hours
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item bg-dark link-style" 
                      routerLink="/authenticated-user/scheduling/accounting/make-refund" routerLinkActive 
                      >
                      Refund Hours
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle mydropnav"
              href="#" id="navbarDropdown" role="button" 
              data-bs-toggle="dropdown" aria-expanded="false"
            >
              Scheduling
            </a>
            <ul class="dropdown-menu mydropnav bg-dark" 
              aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item bg-dark link-style" 
                  routerLink="/authenticated-user/scheduling/calendar" routerLinkActive >
                  Calendar
                </a>
              </li>
              <li>
                <a class="dropdown-item bg-dark link-style" 
                  routerLink="/authenticated-user/scheduling/schedule-single-class" routerLinkActive 
                  >Single Class
                </a>
              </li>
              <li>
                <a class="dropdown-item bg-dark link-style" 
                  routerLink="/authenticated-user/scheduling/recurring-schedule/create" routerLinkActive 
                  >Recurring Class
                </a>
              </li>
              <li>
                <a class="dropdown-item bg-dark link-style" 
                  routerLink="/authenticated-user/scheduling/recurring-schedule/list" routerLinkActive 
                  >Recurring List
                </a>
              </li>
              <li>
                <a class="dropdown-item bg-dark link-style" 
                  routerLink="/authenticated-user/scheduling/recurring-schedule/select-month-year" routerLinkActive 
                  >Monthly Booking
                </a>
              </li>
            </ul>
          </li> 

          <li><a class="nav-link" 
            [routerLink]="['user-profile']">Profile</a>
          </li>         
          <li>
            <a class="nav-link" href="#" (click)="onLogout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
