<div *ngIf="fetchingInProgress">
  <div class="text-center">
    <br />
    <div class="spinner-border text-secondary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    <br />
  </div>
  <br />
</div>
<div *ngIf="errorMessage" class="container">
  <br />
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h5 class="text-center">{{ errorMessage }}</h5>
    <button type="button" class="btn-close" (click)="onClearErrorMessage()"
    data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>

<hr class="thin-br"/>
<div *ngIf="freelanceTransactions">
  <div *ngIf="freelanceTransactions.length > 0; else no_billings" class="container">
    <br />
    <h3 class="text-center">Payments for {{ monthFromRouteData }}/{{ yearFromRouteData }}</h3>
    <hr class="thin-br"/>
    <div class="table-responsive">
      <table style="width:100%">
        <thead>
        <tr>
          <th scope="col"><h4>From</h4></th>
          <th scope="col"><h4>Type</h4></th>
          <th scope="col"><h4>Hours</h4></th>
          <th scope="col"><h4>Amount</h4></th>
          <th scope="col"><h4>Time Received</h4></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let billing of freelanceTransactions">
          <td>
            <a [routerLink]="['/authenticated-user/scheduling/accounting/monthly-freelance-account-activity/', monthFromRouteData, yearFromRouteData, billing.student_or_class]">
              <app-freelance-account-template-display 
              [studentOrClassId]=billing.student_or_class class="bg-transparent"
              >
              </app-freelance-account-template-display>
            </a>
          </td>
          <td>{{ billing.transaction_type }}</td>
          <td>{{ billing.class_hours_purchased_or_refunded }}</td>
          <td>NT${{ billing.transaction_amount }}</td>
          <td>{{ billing.time_stamp }}</td>
        </tr>
      </tbody>
      </table>
    </div>
    <hr class="thin-br"/>
    <h4>Total: NT${{ total }}</h4>
    <hr class="thin-br"/>
  </div>
  <ng-template #no_billings>
    <div class="container">
      <hr class="thin-br"/>
      <h4>No payments for {{ monthFromRouteData }}/{{ yearFromRouteData }}!</h4>
      <hr class="thin-br"/>
    </div>
  </ng-template>
</div>