h1, h3, h4, h5, h6 {
    text-align: center;
    background-color: black;
    color: #758d97 
}

table {
    border-collapse: collapse;
    background-color: black !important;
}

.table {
    padding-left: 0px;
    padding-right: 0px;
    background-attachment: black !important;
}


table .tr {
    background-color: black !important;
}

table .td {
    background-color: black;
}

table .th {
    background-color: black !important;
}

.row {
    background-color: black;
    color: #758d97 
}

.col {
    background-color: black;
    color: #758d97 
}

  
.small-scr-tbl {
    display: none;
}
  
@media screen and (max-width: 767px) {

}