<ng-container *ngIf="{ value: fetchingSchoolsInProgress$ | async } as context">
  <div *ngIf="context.value">
    <div class="text-center">
      <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <br />
    </div>
    <br />
  </div>
</ng-container>

  
<div *ngIf="schools$ | async as schools" class="container content">
      <div class="mx-5 pd-0">
        <hr class="thin-br"/>
        <h3>Schools and Companies</h3>
        <hr class="thin-br"/>
        <ng-container *ngIf="{ value: deletionModeActivated$ | async } as context">
          <div *ngIf="context.value">
            <div class="text-center">
                <h4 class="text-center text-danger">
                  Warning
                </h4>
                <h5 class="text-center text-danger">
                  Deleting School May Influence Past
                </h5>
                <h5 class="text-center text-danger">
                  Monthly Earnings Estimates
                </h5>
                <p class="text-center text-danger small-scr">
                  (Turn Horizontal to Delete)
                </p>
                <button class="btn btn-outline-danger" 
                (click)="onDeactivateSchoolDeletionMode()" type="button">
                  Deactivate Deletion Mode
                </button>
              <br />
            </div>
            <br />
          </div>
        </ng-container>
        <ng-container *ngIf="{ value: deletionModeActivated$ | async } as context">
          <div *ngIf="!context.value">
            <div class="text-center">
                <button class="btn btn-outline-danger middle" 
                (click)="onActivateSchoolDeletionMode()" type="button">
                  Activate Deletion Mode
                </button>
              <br />
            </div>
            <br />
          </div>
        </ng-container>
        <hr class="thin-br"/>
        <table class="table bg-transparent">
            <thead class="table bg-transparent">
              <tr class="row list">
                <th class="col list"><p>School Name</p></th>
                <th class="col list"><p>Address</p></th>
                <ng-container *ngIf="{ value: deletionModeActivated$ | async } as context">
                  <th *ngIf="context.value" class="col list hidden-small"><p>Delete</p></th>
                </ng-container>
              </tr>
            </thead>
            <tbody class="bg-transparent">
              <div class="bg-transparent" *ngFor="let school of schools; trackBy: trackByFn" >
                <app-single-school [school]=school class="bg-transparent">
                </app-single-school>
              </div>
            </tbody>
        </table>
        <hr class="thin-br"/>
    </div>
</div>