h1, h3, h4, h5, h6 {
    text-align: center;
    background-color: black;
    color: #758d97 
}

table {
    border-collapse: collapse;
}

.table {
    padding-left: 0px;
    padding-right: 0px;
}

.table th.list {
    background-color: black;
}

.table tr.list {
    background-color: black;
}

.row {
    background-color: black;
    color: #758d97 
}

.col {
    background-color: black;
    color: #758d97 
}

table td {
    background-color: black;
}
  
.small-scr-tbl {
    display: none;
}
  
@media screen and (max-width: 767px) {

}