h1, h3, h4, h5, h6 {
    text-align: center;
}

table {
    border-collapse: collapse;
}

.table th.list {
    background-color: black;
}

table tr {
    padding: 1em;
}

table th {
    padding: 1em;
}

table td {
    padding: 1em;
    background-color: black;
}
  
.small-scr-tbl {
    display: none;
}
  
@media screen and (max-width: 767px) {

}