{% load static %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tutor's Assistant</title>
  <base href="/">
  <link rel="icon" type="image/x-icon" href="{% static 'angular/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'angular/styles.aa0be2dd1c460da5.css' %}">
  <script>
    window.FRONTEND_CONFIG = {
      encryptionKey: "{{ frontend_encryption_key }}"
    };
  </script>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body style="background-color:black">
  <app-root></app-root>
    <script src="{% static 'angular/scripts.376f79d1b7afee33.js' %}"></script>
    <script src="{% static 'angular/runtime.e963af15f378e2bb.js' %}"></script>
    <script src="{% static 'angular/polyfills.5a359c9a5f07b192.js' %}"></script>
    <script src="{% static 'angular/src_app_authenticated-user_scheduling_accounting_accounting_module_ts.774c54df87dac256.js' %}"></script>
    <script src="{% static 'angular/src_app_authenticated-user_scheduling_recurring-schedule_recurring-schedule_module_ts.73b18bb7fa7d020e.js' %}"></script>
    <script src="{% static 'angular/src_app_authenticated-user_scheduling_scheduling_module_ts.816a02316a374e2f.js' %}"></script>
    <script src="{% static 'angular/src_app_authenticated-user_authenticated-user_module_ts.6ced9765a5da47de.js' %}"></script>
    <script src="{% static 'angular/main.33111748f5926929.js' %}"></script>
</body>
</html>