<br />
<div *ngIf="(scheduledClass$ | async) as scheduledClass; else calendar_link">
    <div class="text-center">
      <button class="btn btn-sm btn-outline-secondary text"
      [routerLink]="['/authenticated-user/scheduling/schedule-daily', scheduledClass.date]">
          Return to {{ scheduledClass.date }} Schedule
      </button>
    </div>
    <hr class="thin-br"/>
    <div class="table-responsive">
        <div id="profile_details">
            <div class="container">
              <h3 class="text-center">
                <a [routerLink]="['/', 'authenticated-user', 'scheduling', 'attendance', scheduledClass.student_or_class]">
                    <app-student-or-class-template-string 
                    [studentOrClassId]=scheduledClass.student_or_class class="bg-transparent"
                    >
                    </app-student-or-class-template-string>
                </a>
            </h3>
        </div>
        <div *ngIf="classSubmitSuccess$ | async as classSuccessMsg" class="p-1 m-1">
          <hr class="thin-br"/>
          <div class="alert alert-secondary alert-dismissible fade show" role="alert">
            <h5 class="text-center">{{ classSuccessMsg }}</h5>
            <button type="button" class="btn-close" (click)="onClearStatusMsgs()"
            data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        </div>
        <div *ngIf="classSubmitErrMsg$ | async as classErrMsg" class="p-1 m-1">
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <h5 class="text-center">{{ classErrMsg }}</h5>
            <button type="button" class="btn-close" (click)="onClearStatusMsgs()"
            data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <hr class="thin-br"/>
        </div>        
        
        <div *ngIf="studentOrClassModificationResponse$ | async as updatedPurchasedHours" class="p-1 m-1">
          <app-edit-class-status-response
            [studentOrClassModificationResponse]=updatedPurchasedHours>
          </app-edit-class-status-response>
        </div>

         <div class="container hidden-small" [hidden]="rescheduleFormVisible || editStatusFormVisible">
            <hr class="thin-br"/>

            <div class="container class-info-display">
            <table class="table bg-transparent">
                <thead class="bg-transparent">
                    <tr class="bg-transparent row">
                      <th class="text-center bg-transparent col"><h4>Date</h4></th>
                      <th class="text-center bg-transparent col"><h4>Time</h4></th>
                      <th class="text-center bg-transparent col"><h4>Duration</h4></th>

                    </tr>
                </thead>
                  <tbody class="bg-transparent">
                    <tr class="bg-transparent row">
                      <td class="text-center bg-transparent col">
                        {{ 
                          (scheduledClass.date.split('-') || []).length === 3 ? 
                          monthsAndIntegers[(+scheduledClass.date.split('-')[1]) - 1][0] + ' ' + 
                          (+scheduledClass.date.split('-')[2]) + ', ' + 
                          scheduledClass.date.split('-')[0] : 
                          scheduledClass.date 
                        }}
                      </td>
                      <td class="text-center bg-transparent col">
                        {{ scheduledClass.start_time.slice(0, -3) }} -
                          {{scheduledClass.finish_time.slice(0, -3) }}
                      </td>
                      <td class="text-center bg-transparent col">
                          <app-time-in-hours
                          [startTime]=scheduledClass.start_time
                          [finishTime]=scheduledClass.finish_time
                        ></app-time-in-hours> hour(s)
                      </td>

                    </tr>
                  </tbody>
            </table>

            <table class="table bg-transparent class-records-table">
                <thead class="bg-transparent">
                    <tr class="bg-transparent row">
                      <th class="text-center bg-transparent col"><h4>Contents</h4></th>
                      <th class="text-center bg-transparent col"><h4>Status</h4></th>
                      <th class="text-center bg-transparent col"><h4>Notes</h4></th>
                    </tr>
                </thead>
                  <tbody class="bg-transparent">
                    <tr class="bg-transparent row">
                      <td class="text-center bg-transparent col">{{ scheduledClass.class_content }}</td>
                      <td
                        *ngIf="scheduledClass.class_status==='cancellation_request'"
                          class="errMsg text-capitalize text-center bg-transparent col">
                          {{ scheduledClass.class_status.split('_').join(' ') }}
                      </td>
                      <td class="text-capitalize text-center bg-transparent col"
                        *ngIf="scheduledClass.class_status!=='cancellation_request'">
                        {{ scheduledClass.class_status.split('_').join(' ') }}
                      </td>
                      <td class="text-center bg-transparent col">
                        {{ scheduledClass.teacher_notes }}
                      </td>
                    </tr>
                  </tbody>
            </table>
            </div>
        </div>


        <hr class="thin-br"/>
        <div class="container small-scr" [hidden]="rescheduleFormVisible || editStatusFormVisible">
          <table class="profile-table" style="width:100%">
              <tr>
                  <th><h4>Date</h4></th>
                  <td><h4>
                    {{ 
                      (scheduledClass.date.split('-') || []).length === 3 ? 
                      monthsAndIntegers[(+scheduledClass.date.split('-')[1]) - 1][0] + ' ' + 
                      (+scheduledClass.date.split('-')[2]) + ', ' + 
                      scheduledClass.date.split('-')[0] : 
                      scheduledClass.date 
                    }}
                  </h4></td>
              </tr>
              <tr>
                  <th><h4>Time</h4></th>
                  <td>
                    <h4>{{ scheduledClass.start_time.slice(0, -3) }} - {{scheduledClass.finish_time.slice(0, -3) }} / 
                      <app-time-in-hours
                      [startTime]=scheduledClass.start_time
                      [finishTime]=scheduledClass.finish_time
                    ></app-time-in-hours> hour(s)
                    </h4>
                  </td>
              </tr>
              <tr>
                <th><h4>Status</h4></th>
                <td>
                  <h4
                  *ngIf="scheduledClass.class_status==='cancellation_request'"
                  class="errMsg text-capitalize">
                  {{ scheduledClass.class_status.split('_').join(' ') }}
                  </h4>
                  <h4 class="text-capitalize"
                  *ngIf="scheduledClass.class_status!=='cancellation_request'">
                  {{ scheduledClass.class_status.split('_').join(' ') }}
                  </h4>
                </td>
              </tr>
              <tr *ngIf="scheduledClass.class_content">
                <th><h4>Content</h4></th>
                <td><h4>
                    {{ scheduledClass.class_content }}
                </h4></td>
              </tr>
              <tr *ngIf="scheduledClass.teacher_notes">
                <th><h4>Notes</h4></th>
                <td><h4>
                    {{ scheduledClass.teacher_notes }}
                </h4></td>
              </tr>
          </table>
        </div>
        <hr class="thin-br"/>
        </div>

        <div class="container text-center">
          <div class=" d-grid gap-2">
            <button class="btn btn-sm btn-outline-secondary" type="button"
              (click)="toggleEditStatusForm()">
              {{ editStatusFormVisible ? "Never Mind, I'll submit one next time for "
              : "Click Here to edit the class status " }}
            </button>
          </div>
        </div>
        <hr class="thin-br"/>
        <div [hidden]="!editStatusFormVisible"
          [style.opacity]="!editStatusFormVisible ? '0' : '1'"
          [style.visibility]="!editStatusFormVisible ? 'hidden' : 'visible'"
          class="m-3 p-2"
        >
          <app-edit-class-status-form 
            [scheduledClass]=scheduledClass
            (closeFormEvent)="closeFormHander($event)"
          >
          </app-edit-class-status-form>
          <hr class="thin-br"/>
        </div>
      </div>
      <div>
        <div class="text-center container">
          <div class="d-grid gap-2">
            <button class="btn btn-sm btn-outline-secondary" type="button"
              (click)="toggleRescheduleForm()">
              {{ rescheduleFormVisible ? "Never Mind, I'll reschedule next time for "
              : "Click Here to reschedule the class " }}
            </button>
          </div>
        </div>
        <hr class="thin-br"/>
      </div>
      
      <div [hidden]="!rescheduleFormVisible"
        [style.opacity]="!rescheduleFormVisible ? '0' : '1'"
        [style.visibility]="!rescheduleFormVisible ? 'hidden' : 'visible'"
        class="m-3 p-2"
      >
        <app-reschedule-class-form 
          [scheduledClass]=scheduledClass
          (closeFormEvent)="closeFormHander($event)"
        >
        </app-reschedule-class-form>
        <hr class="thin-br"/>
      </div>
</div>
<ng-template #calendar_link>
    <hr class="thin-br"/>
    <div class="text-center">
      <button class="btn btn-sm btn-outline-secondary text"
      [routerLink]="['/user/scheduling/calendar']">
          Return to Calendar
      </button>
    </div>
    <hr class="thin-br"/>
  </ng-template>