
<h5>
    <button class="btn btn-outline-secondary" type="button"
      data-bs-toggle="collapse" data-bs-target="#collapseCurrentDateClasses"
      aria-expanded="false" aria-controls="collapseUnconfirmed">
      View Today's Classes
    </button>
</h5>
<div
    id="collapseCurrentDateClasses"
    class="collapse table-responsive"
>
<table class="table bg-transparent">
    <thead class="table bg-transparent">
      <tr class="row bg-transparent">
        <th class="col bg-transparent"><p>Time</p></th>
        <th class="col bg-transparent"><p>Student/Class</p></th>
      </tr>
    </thead>
    <tbody class="table bg-transparent">
      <tr class="row bg-transparent" 
        *ngFor="let scheduledClass of scheduledClasses trackBy: trackByFn">
        <th class="col bg-transparent">
            <p *ngIf="scheduledClass.class_status==='cancelled' || scheduledClass.class_status==='same_day_cancellation'; else not_cancelled_time" 
                class="text-danger cross-out-alert"
            >
                <a class="text-danger"
                [routerLink]="['/authenticated-user/scheduling/schedule-daily', scheduledClass.date]">
                    {{ scheduledClass.start_time.slice(0, -3) }}-{{ scheduledClass.finish_time.slice(0, -3) }}
                </a>
            </p>
            <ng-template #not_cancelled_time>
                <p>
                    <a [routerLink]="['/authenticated-user/scheduling/schedule-daily', scheduledClass.date]">
                        {{ scheduledClass.start_time.slice(0, -3) }}-{{ scheduledClass.finish_time.slice(0, -3) }}
                    </a>
                </p>
              </ng-template>
        </th>
        <th class="col bg-transparent">
            <p *ngIf="scheduledClass.class_status==='cancelled' || scheduledClass.class_status==='same_day_cancellation'; else not_cancelled_student_or_class"
                class="cross-out-alert"
            > 
                <a [routerLink]="['/', 'authenticated-user', 'scheduling', 'attendance', scheduledClass.student_or_class]">
                    <app-student-or-class-template-string 
                        [studentOrClassId]=scheduledClass.student_or_class class="bg-transparent"
                    >
                    </app-student-or-class-template-string>
                </a>
            </p>
            <ng-template #not_cancelled_student_or_class>
                <p>
                    <a [routerLink]="['/', 'authenticated-user', 'scheduling', 'attendance', scheduledClass.student_or_class]">
                        <app-student-or-class-template-string 
                        [studentOrClassId]=scheduledClass.student_or_class class="bg-transparent"
                        >
                        </app-student-or-class-template-string>
                    </a>
                </p>
            </ng-template>

        </th>
    </tr>
    </tbody>
</table>
</div>