h3, h5, p {
    text-align: center;
    color: #758d97; 
    background-color: black !important;
}

.cross-out-alert {
    text-decoration: line-through;
    color: #dc1616;
  }
  
.cross-out {
    text-decoration: line-through;
    color: #dc1616;
}
 
.row {
    background-color: black !important;
    color: #758d97; 
}
