<br />
  <div class="large-scr row bg-transparent">
    <div class="col text-center bg-transparent">
      <button class="btn btn-sm btn-outline-secondary middle"
        (click)="navToYsdtrdy()">Previous Day</button>
    </div>
    <div class="col bg-transparent">
      <h3>
        {{ 
          (dateFromRouteData.split('-') || []).length === 3 ? 
          monthsAndIntegers[(+dateFromRouteData.split('-')[1]) - 1][0] + ' ' + 
          (+dateFromRouteData.split('-')[2]) + ', ' + 
          dateFromRouteData.split('-')[0] : 
          dateFromRouteData 
        }}
      </h3>
    </div>
    <div class="col text-center bg-transparent">
      <button class="btn btn-sm btn-outline-secondary middle"
      (click)="navToTmrrow()">Upcoming Day</button>
    </div>
  </div>
  <div class="small-scr bg-transparent">
    <h3>                    
      {{ 
        (dateFromRouteData.split('-') || []).length === 3 ? 
        monthsAndIntegers[(+dateFromRouteData.split('-')[1]) - 1][0] + ' ' + 
        (+dateFromRouteData.split('-')[2]) + ', ' + 
        dateFromRouteData.split('-')[0] : 
        dateFromRouteData 
      }}
    </h3>
    <div class="row bg-transparent">
      <div class="col bg-transparent">
        <div class="container">
          <div class="d-grid gap-2">
              <button class="btn btn-sm btn-outline-secondary middle"
              (click)="navToYsdtrdy()">Prev</button>
          </div>
        </div>
      </div>
      <div class="col bg-transparent">
        <div class="container">
          <div class="d-grid gap-2">
            <button class="btn btn-sm btn-outline-secondary middle"
            (click)="navToTmrrow()">Next</button>
          </div>
        </div>
      </div>
    </div>
</div>

<ng-container *ngIf="{value: fetchingClasses$ | async} as context">
  <div *ngIf="context.value">
    <div class="text-center">
      <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <br />
    </div>
    <br />
  </div>
</ng-container>

<div *ngIf="dailyScheduledClasses$ | async as todaysClasses" class="container">
    <hr class="thin-br"/>
    <h5>{{ todaysClasses.length }} Class(es) Scheduled</h5>
    <div *ngIf="todaysClasses.length > 0; else no_daily"
        class="table-responsive"
      >
      <hr class="thin-br"/>
      <table class="table bg-transparent">
        <thead class="table bg-transparent">
          <tr class="row bg-transparent">
            <th class="col bg-transparent"><h5>Time</h5></th>
            <th class="col bg-transparent"><h5>Student/Class</h5></th>
            <th class="col bg-transparent"><h5>Delete</h5></th>
          </tr>
        </thead>
        <tbody class="table bg-transparent">
          <div 
            class="bg-transparent" 
            *ngFor="let scheduledClass of todaysClasses trackBy: trackByFn"
          >
            <app-scheduled-class [scheduledClass]=scheduledClass class="bg-transparent">
            </app-scheduled-class>
          </div>
        </tbody>
      </table>
      </div>
      <ng-template #no_daily>
        <div class="text-center m-3 p-2">
          <button class="btn btn-md btn-outline-secondary text" id="forwardDateButton" 
          [routerLink]="['/', 'authenticated-user', 'scheduling', 'schedule-single-class']">
              Click to Schedule a Class
          </button>
        </div>
      </ng-template>
      <hr class="thin-br"/>
</div>