<tr class="row" > 
    <th class="col">
        <h5>
            <a [routerLink]="['/authenticated-user/school', school.id]">
              {{ school.school_name }}
            </a>
        </h5>
    </th>
    <th class="col">
      <h5>
        {{ school.address_line_1 }}
      </h5>
    </th>
  <ng-container *ngIf="{ value: deletionModeActivated$ | async } as context">
    <th *ngIf="context.value" class="col">
      <div *ngIf="!deletionPopupVisible; else delWeeklyTask" class="col text-left">
        <h5>
          <button
            class="btn btn-sm btn-outline-danger"
            (click)="showDeletionPopup()"
            >
            Remove
          </button>
        </h5>
      </div>
      <ng-template #delWeeklyTask class="row">
        <div class="col">
          <h5>
            <button
              class="btn btn-sm btn-outline-secondary"
              (click)="hideDeletionPopup()">
              Cancel Deletion
            </button>
          </h5>
        </div>
        <div class="col">
          <h5>
            <button
              class="btn btn-sm btn-outline-danger"
              (click)="onRemoveSchool()"
              >
              Confirm Removal
            </button>
          </h5>
        </div>
      </ng-template>
    </th>
  </ng-container>
</tr>