<tr class="row" > 
    <th class="col">
        <p>
          <a [routerLink]="['/authenticated-user/school', school.id]">
              {{ school.school_name }}
          </a>
        </p>
    </th>
    <th class="col">
      <p>
        {{ school.address_line_1 }}
      </p>
    </th>
  <ng-container *ngIf="{ value: deletionModeActivated$ | async } as context">
    <th *ngIf="context.value" class="col hidden-small">
      <div *ngIf="!deletionPopupVisible; else delWeeklyTask" class="col text-left">
        <p>
          <button
            class="btn btn-sm btn-outline-danger"
            (click)="showDeletionPopup()"
            >
            Remove
          </button>
        </p>
      </div>
      <ng-template #delWeeklyTask class="row">
        <div class="col">
          <p>
            <button
              class="btn btn-sm btn-outline-secondary"
              (click)="hideDeletionPopup()">
              Cancel Deletion
            </button>
          </p>
        </div>
        <div class="col">
          <p>
            <button
              class="btn btn-sm btn-outline-danger"
              (click)="onRemoveSchool()"
              >
              Confirm Removal
            </button>
          </p>
        </div>
      </ng-template>
    </th>
  </ng-container>
</tr>