<tr class="row list" >
    <th class="col list">
        <h5>
            <a [routerLink]="['/authenticated-user/school', school.id]">
              {{ school.school_name }}
            </a>
        </h5>
    </th>
    <th class="col list">
      <h5>
        {{ school.address_line_1 }}
      </h5>
    </th>
    <th class="col list">
      <div *ngIf="!deletionPopupVisible; else delWeeklyTask" class="col text-left">
        <h5>
          <button
            class="btn btn-sm btn-dark"
            (click)="showDeletionPopup()"
            >
            Remove
          </button>
        </h5>
      </div>
      <ng-template #delWeeklyTask class="row">
        <div class="col list">
          <h5>
            <button
              class="btn btn-sm btn-dark"
              (click)="hideDeletionPopup()">
              Cancel Deletion
            </button>
          </h5>
        </div>
        <div class="col list">
          <h5>
            <button
              class="btn btn-sm btn-outline-danger"
              (click)="onRemoveSchool()"
              >
              Confirm Removal
            </button>
          </h5>
        </div>
      </ng-template>
    </th>
</tr>