<tr class="row" >
    <th class="col">
        <h5 class>
            <a [routerLink]="['/authenticated-user/scheduling/single-class', scheduledClass.id]">
              {{ scheduledClass.start_time.slice(0, -3) }} - {{ scheduledClass.finish_time.slice(0, -3) }}
            </a>
        </h5>
    </th>
    <th class="col">
      <h5 *ngIf="scheduledClass.class_status==='CANCELLED'; else not_completed" 
        class="cross-out">
        <a [routerLink]="['/authenticated-user/student-or-class', scheduledClass.student_or_class]">
          <app-student-or-class-template-string 
          [studentOrClassId]=scheduledClass.student_or_class class="bg-transparent"
          >
          </app-student-or-class-template-string>
        </a>
      </h5>
      <ng-template #not_completed>
        <h5>
          <a [routerLink]="['/authenticated-user/student-or-class', scheduledClass.student_or_class]">
            <app-student-or-class-template-string 
            [studentOrClassId]=scheduledClass.student_or_class class="bg-transparent"
            >
            </app-student-or-class-template-string>
          </a>
        </h5>
      </ng-template>
    </th>
    <th class="col">
      <div *ngIf="!deletionPopupVisible; else delAccount" 
        class="col text-left">
        <button
          class="btn btn-sm btn-outline-danger"
          (click)="showDeletionPopup()"
          >
          Remove
        </button>
      </div>
      <ng-template #delAccount class="row">
        <div class="col text-secondary">
          <button
            class="btn btn-sm btn-outline-secondary"
            (click)="hideDeletionPopup()">
            Cancel Deletion
          </button>
        </div>
        <div class="col text-secondary">
          <button
            class="btn btn-sm btn-outline-danger"
            (click)="onScheduledClassDeletion()"
            >
            Confirm Removal
          </button>
        </div>
      </ng-template>
    </th>
</tr>
