<tr class="row" >
    <th class="col">
        <h5 *ngIf="scheduledClass.class_status==='cancelled' || scheduledClass.class_status==='same_day_cancellation'; else not_cancelled_red" 
        class="cross-out-alert">
            <a class="text-danger" 
              [routerLink]="['/authenticated-user/scheduling/single-class', scheduledClass.id]">
              {{ scheduledClass.start_time.slice(0, -3) }}-{{ scheduledClass.finish_time.slice(0, -3) }}
            </a>
        </h5>
        <ng-template #not_cancelled_red>
          <h5>
            <a [routerLink]="['/authenticated-user/scheduling/single-class', scheduledClass.id]">
              {{ scheduledClass.start_time.slice(0, -3) }}-{{ scheduledClass.finish_time.slice(0, -3) }}
            </a>
          </h5>
        </ng-template>
    </th>
    <th class="col">
      <h5 *ngIf="scheduledClass.class_status==='cancelled' || scheduledClass.class_status==='same_day_cancellation'; else not_cancelled" 
        class="cross-out">
        <a [routerLink]="['/', 'authenticated-user', 'scheduling', 'attendance', scheduledClass.student_or_class]">
          <app-student-or-class-template-string 
          [studentOrClassId]=scheduledClass.student_or_class class="bg-transparent"
          >
          </app-student-or-class-template-string>
        </a>
      </h5>
      <ng-template #not_cancelled>
        <h5>
          <a [routerLink]="['/', 'authenticated-user', 'scheduling', 'attendance', scheduledClass.student_or_class]">
            <app-student-or-class-template-string 
            [studentOrClassId]=scheduledClass.student_or_class class="bg-transparent"
            >
            </app-student-or-class-template-string>
          </a>
        </h5>
      </ng-template>
    </th>
    <ng-container 
      *ngIf="{ value: deletionModeForScheduledClassesActivated$ | async } as context"
    >
    <th *ngIf="context.value" class="col">
      <div *ngIf="!deletionPopupVisible; else delAccount" 
        class="col text-left">
        <button
          class="btn btn-sm btn-outline-danger"
          (click)="showDeletionPopup()"
          >
          Remove
        </button>
      </div>
      <ng-template #delAccount class="row">
        <div class="col text-secondary">
          <button
            class="btn btn-sm btn-outline-secondary"
            (click)="hideDeletionPopup()">
            Cancel Deletion
          </button>
        </div>
        <div class="col text-secondary">
          <button
            class="btn btn-sm btn-outline-danger"
            (click)="onScheduledClassDeletion()"
            >
            Confirm Removal
          </button>
        </div>
      </ng-template>
    </th>
    </ng-container>
</tr>
