<div *ngIf="successMsg$ | async as successMsg">
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
      <h5 class="text-center">{{ successMsg }}</h5>
      <button type="button" class="btn-close" (click)="onClearStatusMsgs()"
      data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div>
      <h4 class="text-center">
        Updated account: {{ freelanceAccount.student_or_class_name }}
      </h4>
      <h4 class="text-center">
        Newly refunded hours: {{ refundRecord.class_hours_purchased_or_refunded }}
      </h4>
      <h4 class="text-center">
        Transaction Amount: NT${{ refundRecord.transaction_amount }}
      </h4>
    </div>
</div>