<form (submit)="onSubmit(attendanceEditForm)" #attendanceEditForm="ngForm">
  <div *ngFor="let record of editRecords; let i = index">
    <div class="card mb-3 bg-transparent">
      <div class="card-body" bg-transparent>
        <h5 class="card-title mb-3">{{ record.student_name }}</h5>
        <div class="btn-group w-100" role="group">
          <ng-container *ngFor="let status of attendanceStatuses">
            <input
              type="radio"
              class="btn-check"
              [name]="'attendance_status_' + record.id"
              [id]="'status_' + record.id + '_' + status"
              [value]="status"
              [checked]="getStatusValue(record) === status"
              (change)="onStatusChange(i, status)"
              autocomplete="off"
            />
            <label
              class="btn btn-outline-secondary text-capitalize"
              [for]="'status_' + record.id + '_' + status">
              {{ status.split('_').join(' ') }}
            </label>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div *ngIf="submittingInProgress; else submitButton">
    <div class="text-center">
      <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
  <ng-template #submitButton>
    <div class="d-grid gap-2">
      <button class="btn btn-dark" type="submit">Submit</button>
    </div>
  </ng-template>
  <br />
</form>
