<br />
<div class="text-center">
    <button class="btn btn-sm btn-outline-secondary text"
    [routerLink]="['/authenticated-user/scheduling/recurring-schedule/select-month-year']">
        Select Another Month
    </button>
  </div>
  <hr class="thin-br"/>
  <h3 class="text-center">
    Batch Booking for {{ monthsAndIntegers[monthFromRouteData - 1][0] }} {{ yearFromRouteData }}
  </h3>
  <hr class="thin-br"/>
  <div *ngIf="rCAMs$ | async as recurringClasses" class="container">
    <div class="text-center">
      <button class="btn btn-sm btn-outline-secondary" type="button"
        (click)="toggleApplySchedulerSubmitForm()">
        {{ showApplyRecurringClassSubmitForm ? "Never Mind, I'll submit one next time for "
        : "Click Here to apply a Recurring Class to " }} {{ monthsAndIntegers[monthFromRouteData - 1][0] }}
      </button>
      <br />
    </div>
    <div [hidden]="!showApplyRecurringClassSubmitForm"
    [style.opacity]="!showApplyRecurringClassSubmitForm ? '0' : '1'"
    [style.visibility]="!showApplyRecurringClassSubmitForm ? 'hidden' : 'visible'">
      <hr class="thin-br"/>
      <app-apply-recurring-class-monthly-form
        [month]=monthFromRouteData
        [year]=yearFromRouteData>
      </app-apply-recurring-class-monthly-form>
    </div>
    <hr class="thin-br"/>
</div>

<div *ngIf="batchDeletionErrMsg$ | async as classErrMsg" class="container">
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h4 class="text-center">{{ classErrMsg }}</h4>
    <button type="button" class="btn-close" (click)="onClearStatusMsgs()"
    data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>

<div *ngIf="batchDeletionSuccessMsg$ | async as classSuccessMsg" class="container">
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    <h6 class="text-center">{{ classSuccessMsg }}</h6>
    <button type="button" class="btn-close" (click)="onClearStatusMsgs()"
    data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>

<div *ngIf="batchDeletionData$ | async as batchDeletionData" class="container content">
    <app-recurring-class-deletion-response 
      [scheduledClassesOptionalDeletionData]=batchDeletionData>
    </app-recurring-class-deletion-response>
</div>

<ng-container *ngIf="{value: rCAMsLoaded$ | async} as context">
  <div *ngIf="!context.value">
    <div class="text-center">
      <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <br />
    </div>
    <br />
  </div>
</ng-container>

<div *ngIf="rCAMs$ | async as recurringClassesAppliedMonthly" class="container content">
  <div class="large-scr-tbl">
    <div class="container">
      <table class="table bg-transparent">
          <thead class="table bg-transparent">
            <tr class="row">
              <th class="col"><h5>Day</h5></th>
              <th class="col"><h5>Start</h5></th>
              <th class="col"><h5>End</h5></th>
              <th class="col"><h5>Student</h5></th>
              <th class="col" id="edit"><h5>Remove</h5></th>
            </tr>
          </thead>
          <tbody class="bg-transparent">
          <div class="bg-transparent"
            *ngFor="let recurringClassAppliedMonthly of recurringClassesAppliedMonthly" 
          >
            <app-recurring-class-applied-monthly 
              class="bg-transparent"
              [recurringClassAppliedMonthly]=recurringClassAppliedMonthly>
            </app-recurring-class-applied-monthly>
          </div>
          </tbody>
        </table>
    </div>
  </div>
</div>

  