<br />
<div *ngIf="studentOrClass$ | async as studentOrClass" class="container bg-transparent">
    <h3>Attendance for <a [routerLink]="['/', 'authenticated-user', 'student-or-class', studentOrClass.id]">
      {{ studentOrClass.student_or_class_name}}</a>
    </h3>
    <div class="large-scr row bg-transparent">
        <div class="col text-center bg-transparent">
          <button class="btn btn-sm btn-outline-secondary middle bg-transparent"
            (click)="onPrevPageRequest()">Recently</button>
        </div>
        <div class="col bg-transparent">
          <h4 class="text-center" *ngIf="studentOrClass.purchased_class_hours">
            Remaining Hours: {{ studentOrClass.purchased_class_hours }}
          </h4>
          <h4 class="text-center" *ngIf="studentOrClass.school">
            <a [routerLink]="['/authenticated-user/school', studentOrClass.school]">
              <app-school-template-str 
                [schoolId]=studentOrClass.school class="bg-transparent"
              >
              </app-school-template-str>
            </a>          
          </h4>
        </div>
        <div class="col text-center bg-transparent">
          <button class="btn btn-sm btn-outline-secondary middle bg-transparent"
          (click)="onNextPagRequest()">Previous</button>
        </div>
    </div>
    <div class="small-scr bg-transparent">
      <h4 class="text-center" *ngIf="studentOrClass.purchased_class_hours">
        Remaining Hours: {{ studentOrClass.purchased_class_hours }}
      </h4>
      <h4 class="text-center" *ngIf="studentOrClass.school">
        <a [routerLink]="['/authenticated-user/school', studentOrClass.school]">
            <app-school-template-str 
              [schoolId]=studentOrClass.school class="bg-transparent"
            >
            </app-school-template-str>
        </a>          
      </h4>
      <div class="row bg-transparent">
        <div class="col bg-transparent">
          <div class="container">
            <div class="d-grid gap-2">
                <button class="btn btn-sm btn-outline-secondary middle"
                (click)="onPrevPageRequest()">Recently</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="container">
            <div class="d-grid gap-2">
              <button class="btn btn-sm btn-outline-secondary middle"
              (click)="onNextPagRequest()">Previous</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="pastClasses$ | async as pastClasses; else no_attendance" class="container bg-transparent">
    <hr class="thin-br"/>
    <div class="table-responsive bg-transparent">
      <table class="table bg-transparent bg-transparent">
          <thead class="table bg-transparent">
            <tr class="row bg-transparent">
              <th class="col bg-transparent"><p>Date</p></th>
              <th class="col bg-transparent"><p>Time</p></th>
              <th class="col bg-transparent"><p>Attendance</p></th>
              <th class="col hidden-small"><p>Content</p></th>
            </tr>
          </thead>
          <tbody class="table bg-transparent">
            <tr class="row bg-transparent" *ngFor="let pastClass of pastClasses">
              <th class="col bg-transparent">
                <p><a [routerLink]="['/', 'authenticated-user', 'scheduling', 'schedule-daily', pastClass.date]">
                  {{ pastClass.date }}
                </a></p>
              </th>
              <th class="col bg-transparent">
                <p>
                  {{ pastClass.start_time.slice(0, -3) }}-{{ pastClass.finish_time.slice(0, -3) }}
                </p>
              </th>
              <th class="col bg-transparent">
                <p class="capitalize">{{ pastClass.class_status.toString().split('_').join(' ') }}</p>
              </th>
              <th class="col hidden-small">
                <p>{{ pastClass.class_content }}</p>
              </th>
            </tr>
          </tbody>
      </table>
      <hr class="thin-br"/>
    </div>
</div>
<ng-template #no_attendance>
  <br />
  <h3 class="text-center">No previous attendance records</h3>
  <hr class="thin-br"/>
  <div class="text-center">
    <button class="btn btn-sm btn-outline-secondary text"
    [routerLink]="['/authenticated-user/scheduling/schedule-single-class']">
        Schedule a Class
    </button>
  </div>
  <hr class="thin-br"/>
</ng-template>