<app-unauthenticated-header></app-unauthenticated-header>
<div class="container content">
  <div class="color-frame rounded row">
    <div class="mt-4 p-5 rounded col">
        <h1 class="text-center">
            Information
        </h1>
        <h2 class="text-center">
            A scheduler for independent tutors
        </h2>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
</div>
</div>
<app-unauthenticated-footer></app-unauthenticated-footer>
