<br />
<h3>Schedule a Recurring Class</h3>
<div *ngIf="errorMessage$ | async as classErrMsg">
  <div class="container">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <h5 class="text-center">{{ classErrMsg }}</h5>
      <button type="button" class="btn-close" (click)="onClearStatusMsgs()"
      data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
</div>

<div *ngIf="successMessage$ | async as classSuccessMsg">
  <div class="container">
    <div class="alert alert-secondary alert-dismissible fade show" role="alert">
      <h5 class="text-center">{{ classSuccessMsg }}</h5>
      <button type="button" class="btn-close" (click)="onClearStatusMsgs()"
      data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
</div>
<div *ngIf="studentsOrClasses$ | async as studentsOrClasses">
  <div *ngIf="userProfile$ | async as userProfile" class="container">
    <hr class="thin-br"/>
    <app-create-recurring-class-form
      [studentsOrClasses]=studentsOrClasses
      [userProfile]=userProfile
    >
    </app-create-recurring-class-form>
    <hr class="thin-br"/>
  </div>
</div>