<tr class="row" > 
    <th class="col">
      <p>
        <a [routerLink]="['/authenticated-user/student-or-class', studentOrClass.id]">
          {{ studentOrClass.student_or_class_name }}
        </a>
      </p>
    </th>
    <th class="col">
        <p *ngIf="studentOrClass.school; else freelance_info">
          <a [routerLink]="['/authenticated-user/school', studentOrClass.school]">
              <app-school-template-string 
                [schoolId]=studentOrClass.school class="bg-transparent"
              >
              </app-school-template-string>
          </a>
        </p>
        <ng-template #freelance_info>
            <p>
              Freelance
            </p>        
        </ng-template>
    </th>
    <ng-container 
      *ngIf="{ value: deletionModeForStudentsOrClassesActivated$ | async } as context"
    >
    <th *ngIf="context.value" class="col hidden-small hidden-small">
      <div *ngIf="!deletionPopupVisible; else delStudentOrClass" class="col text-left">
        <p>
          <button
            class="btn btn-sm btn-outline-danger"
            (click)="showDeletionPopup()"
            >
            Remove
          </button>
        </p>
      </div>
      <ng-template #delStudentOrClass class="row">
        <div class="col">
          <p>
            <button
              class="btn btn-sm btn-dark"
              (click)="hideDeletionPopup()">
              Cancel Deletion
            </button>
          </p>
        </div>
        <div class="col">
          <p>
            <button
              class="btn btn-sm btn-outline-danger"
              (click)="onRemoveStudentOrClass()"
              >
              Confirm Removal
            </button>
          </p>
        </div>
      </ng-template>
    </th>
    </ng-container>
</tr>
