<br />
<div *ngIf="errMsg$ | async as errMsg" class="p-1 m-1">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <h3>{{ errMsg }}</h3>
    <button type="button" class="btn-close" (click)="onClearStatusMsgs()"
    data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <hr class="thin-br"/>
</div>

<div *ngIf="successMsg$ | async as successMsg" class="p-1 m-1">
  <hr class="thin-br"/>
  <div class="alert alert-secondary alert-dismissible fade show" role="alert">
    <h6>{{ successMsg }}</h6>
    <button type="button" class="btn-close" (click)="onClearStatusMsgs()"
    data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  <hr class="thin-br"/>
</div>

<div *ngIf="(studentOrClass$ | async) as studentOrClass; else homepage_link">
    <div class="mt-1 p-1 rounded">
        <div class="p-1 rounded-lg m-1">
            <div class="container text-center">
                <hr class="thin-br" />
                <div class="table-responsive">
                    <div class="container mt-1 pt-1">
                        <h1><a [routerLink]="['/', 'authenticated-user', 'scheduling', 'attendance', studentOrClass.id]">
                                {{ studentOrClass.student_or_class_name[0] | uppercase }}{{ studentOrClass.student_or_class_name.substring(1) }}
                            </a>
                        </h1>
                    </div>
                    <hr />
                    <table class="profile-table" style="width:100%">
                        <tr>
                            <th><h3>Account Type</h3></th>
                            <td>
                                <h3>
                                    {{ studentOrClass.account_type[0] | uppercase }}{{ studentOrClass.account_type.substring(1) }}
                                </h3>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <h3>Hourly Tuition</h3>
                            </th>
                            <td>
                                <h3>NT${{ studentOrClass.tuition_per_hour }}</h3>
                            </td>
                        </tr>
                        <tr *ngIf="studentOrClass.school">
                            <th>
                                <h3>School</h3>
                            </th>
                            <td>
                                <h3>
                                    <a [routerLink]="['/authenticated-user/school', studentOrClass.school]">
                                        <app-school-template-string 
                                        [schoolId]=studentOrClass.school class="bg-transparent"
                                        >
                                        </app-school-template-string>
                                    </a>
                                </h3>
                            </td>
                        </tr>
                        <tr *ngIf="studentOrClass.purchased_class_hours">
                            <th>
                                <h3>Purchased Class Hours</h3>
                            </th>
                            <td>
                                <h3>{{ studentOrClass.purchased_class_hours }}</h3>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <h3>Comments</h3>
                            </th>
                            <td>
                                <h3>{{ studentOrClass.comments }}</h3>
                            </td>
                        </tr>
                    </table>
                    <hr />
                    <div class="d-grid gap-2">
                        <button class="btn btn-sm btn-outline-secondary" 
                            type="button" (click)="toggleForm()">
                            {{ formVisible ? "No thanks, I'll Edit It Later" : "Edit Account" }}
                        </button>
                    </div>
                    <hr />
                    <div [hidden]="!formVisible">
                        <app-student-or-class-edit-form [studentOrClass]=studentOrClass
                        (closeEvent)="closeFormHander($event)">
                        </app-student-or-class-edit-form>
                    </div>
                    <br />
                </div>
            </div>
            <br />
        </div>
    </div>
</div>

<ng-template #homepage_link>
    <hr class="thin-br"/>
    <div class="text-center">
      <button class="btn btn-sm btn-dark text"
      [routerLink]="['/authenticated-user/scheduling/landing']">
          Return to Homepage
      </button>
    </div>
    <hr class="thin-br"/>
</ng-template>
