<div *ngIf="fetchingReportInProgress">
    <div class="text-center">
      <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <br />
    </div>
    <br />
</div>
<div *ngIf="errorMessage">
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <h6>{{ errorMessage }}</h6>
    <button type="button" class="btn-close" (click)="onClearErrorMessage()"
    data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>

<div *ngIf="monthlyPurchasedHoursModifications" class="container">
    <hr class="thick-br"/>
    <h2 class="text-center">
      <a [routerLink]="['/authenticated-user/student-or-class', freelanceAccountIdFromRouteData]">
        <app-freelance-account-template-display 
        [studentOrClassId]=freelanceAccountIdFromRouteData class="bg-transparent"
        >
        </app-freelance-account-template-display>
      </a>
    </h2>
    <h2 class="text-center">Account Activity {{ monthFromRouteData }}/{{ yearFromRouteData }}</h2>
    <h4 class="text-center">{{ monthlyPurchasedHoursModifications.length }} Modification(s) to Purchased Hours</h4>
    <hr class="thick-br"/>
    <div *ngIf="monthlyPurchasedHoursModifications.length > 0;else noRecordsMessage">
      <hr class="thick-br"/>
      <table style="width:100%">
        <thead>
        <tr>
          <th scope="col"><h4>Time</h4></th>
          <th scope="col"><h4>Type</h4></th>
          <th scope="col"><h4>Previous</h4></th>
          <th scope="col"><h4>Details</h4></th>
          <th scope="col"><h4>Updated</h4></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let modification of monthlyPurchasedHoursModifications">
          <td>{{ modification.time_stamp.split('T')[0] + ' ' + modification.time_stamp.split('T')[1].split(':').slice(0, 2).join(':') }}</td>
          <td>{{ modification.modification_type.split('_').join(' ')[0].toUpperCase() }}{{ modification.modification_type.split('_').join(' ').substring(1) }}</td>         
          <td>{{ modification.previous_purchased_class_hours }} hrs</td>
          <td *ngIf="modification.tuition_transaction">
            <a [routerLink]="['/authenticated-user/scheduling/accounting/monthly-freelance-transactions', monthFromRouteData, yearFromRouteData]">
              Transaction: {{ modification.tuition_transaction.class_hours_purchased_or_refunded }} hrs
            </a>
          </td>
          <td *ngIf="modification.modified_scheduled_class">
            <a [routerLink]="['/authenticated-user/scheduling/schedule-daily/', modification.modified_scheduled_class.date]">
              Class: {{ modification.modified_scheduled_class.date }}
            </a>
          </td>
          <td>{{ modification.updated_purchased_class_hours }} hrs</td>
        </tr>
      </tbody>
      </table>
      <hr class="thick-or"/>
  
    </div>
    <ng-template #noRecordsMessage>
      <h3 class="text-center">No Account Activity for Current Month</h3>
    </ng-template>

</div>