<ng-container *ngIf="{value: recurringClassesLoaded$ | async} as context">
    <div *ngIf="!context.value">
      <div class="text-center">
        <div class="spinner-border text-secondary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <br />
      </div>
      <br />
    </div>
  </ng-container>
  
  <div *ngIf="recurringClasses$ | async as classes" class="container content">
      <div class="mx-5 pd-2">
        <hr class="thin-br"/>
        <h3>Recurring Classes</h3>
        <hr class="thin-br"/>
        <div class="large-scr-tbl">
          <table class="table bg-transparent">
            <thead class="table bg-transparent">
              <tr class="row">
                <th class="col"><p>Day of Week</p></th>
                <th class="col"><p>Time</p></th>
                <th class="col"><p>Student Or Class</p></th>
                <th class="col hidden-small"><p>Delete</p></th>
              </tr>
            </thead>
            <tbody class="bg-transparent">
              <div class="bg-transparent"
              *ngFor="let recurringClass of classes; 
              trackBy: trackByFn" 
              >
                <app-recurring-class 
                  class="bg-transparent" 
                  [recurringClass]=recurringClass>
                </app-recurring-class>
              </div>
            </tbody>
          </table>
          <hr class="thin-br"/>
        </div>
      </div>
    </div>