h3, h5 {
    text-align: center;
    color: #758d97; 
    background-color: black !important;
}

table {
    border-collapse: collapse;
    background-color: black !important;
}

.table {
    padding-left: 0px;
    padding-right: 0px;
    background-color: black !important;
}

.table .tr {
    background-color: black !important;
}

.table .td {
    background-color: black;
}

.table .th {
    background-color: black !important;
}

.row {
    background-color: black !important;
    color: #758d97; 
}

.col {
    background-color: black;
    color: #758d97; 
}

  
.small-scr-tbl {
    display: none;
}
  
@media screen and (max-width: 767px) {

}